%center{
	display: flex;
	align-items: center;
	justify-content: center;
}

%shadowNormal {
  	box-shadow:0px 0px 10px rgb(0, 0, 0);
}
%verticleBlock {
	display: flex;
	flex-direction: column;
	align-items: center;
}
%whiteBoard {
	padding: 20px!important;
	border-radius: 20px;
	background-color: white;
}
%boderGray {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
body{
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
}
.article {
	min-height: 100vh;
	width: 100vw;
	display: flex;
	height: fit-content;
	overflow-y: scroll;
	background-color: rgb(255, 255, 255);
	.menuBlock {
		position: relative;
		>div:last-child {
			position: fixed;
			bottom: 0;
			height: 50px;
			color: #fff;
			background-color: rgb(117, 114, 110);
			width: 100%;
			@extend %center;
			&:hover {
				cursor: pointer;
				@extend %shadowNormal;
			}
		}
	}
	.rightBlock {
		padding: 20px;
		max-height: 100vh;
		height: 100vh;
		overflow-y: scroll;
		scroll-behavior: smooth;
		flex-grow: 1;
		box-shadow: inset 1px 1px 10px rgb(50, 50, 50);
		background-color: rgba(0, 0, 0, 0.2);
	}
}

div {
	&::-webkit-scrollbar {
		display: none;
		scroll-behavior: smooth;
		scroll-snap-type: mandatory;
	}
	transition: 0.6s;
}



.entryLayOut {
    width: 100vw;
    height: 100vh;
	position: relative;
	background-image: url(asserts/bg1.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
}
.entryBlock {
	width: 90%;
	max-width: 350px;
	height: fit-content;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	padding: 20px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	>div:first-child {
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex: 1;
		margin-bottom: 20px;
		>div {
			width: 46%;
			height: 2rem;
			@extend %center;
			color: #fff;
			border-radius: 20px;
			&:hover {
				transform: scale(1.1);
				color: cadetblue;
				cursor: pointer;
				background-color: #fff;
			}
		}
	}
	.tabActive {
		transform: scale(1.1);
		color: cadetblue!important;
		cursor: pointer;
		background-color: #fff;
	}
}

.mainBtn {
	background-color: rgb(48, 178, 217);
	border: none;
	color: #fff;
	width: 100%;
	border-radius: 5px;
	padding: 1rem;
	&:hover {
		cursor: pointer;
		opacity: 0.7;

	}
}

.settingBlock {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	.settingBody {
		@extend %whiteBoard;
		min-width: 500px;
		flex-grow: 1;
		>div {
			width: 90%;
			margin: 0px auto;
		}
		>div:first-child {
			height: 60px;
			@extend %boderGray;
			text-align: center;
			font-size: 2rem;
			font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
			letter-spacing: 3px;
			margin-bottom: 20px;
		}
		>div:last-child {
			
		}
	}
}

.empMangerFilter {
	width: 100%;
	min-height: 100px;
	height: fit-content;
	background-color: #fff;
	border-radius: 20px;
	margin-bottom: 20px;
	padding: 20px;
	>div:last-child {
		margin-top: 20px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		>div {
			margin-right: 0.4rem;
		}
	}
}

.peopleList {
	width: 100%;
	padding: 10px;
	height: 50px;
	@extend %boderGray;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.peopleText {
		width: 60%;
		>div:first-child {
			font-size: 1.2rem;
		}
		>div:last-child {
			font-size: 0.6rem;
			opacity: 0.4;
		}
	}
}
.peopleListBtn {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	opacity: 0.4;
	background-color: rgb(67, 67, 67);
	color: white;
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 10;
	@extend %center;
	font-size: 1.5rem;
	&:hover {
		cursor: pointer;
		transform: scale(1.1);
		@extend %shadowNormal;
	}
}

.shiftProcessBar {
	width: 100%;
	height: fit-content;
	margin: 0px auto;
	@extend %whiteBoard;
}
.shiftEdit{
	background-color: #fff;
	width: 100%;
	height: fit-content;
	margin: 20px auto;
	@extend %whiteBoard;
}
.shiftTable {
	width: 100%;
	min-height: 100%;
	height: fit-content;
	overflow-x: scroll;
	margin-bottom: 20px;
	text-align: center;
	>table {

		width: 100%;
		height: fit-content;
	}
	td, tr, thead {
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-collapse: collapse;
	}
}
.stickyTd {
	position: sticky;
	z-index: 5;
	padding: 5px;
	background-color: white;
}

.shiftSignBlock {
	background-color: rgba(139, 136, 136, 0.2);
	border-radius: 20px;
	width: 100%;
	height: fit-content;
	margin-bottom: 20px;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	span {
		font-size: 1.4rem;
		margin-left: 10px;
	}
	>div {
		&::after {
			content: '';
			width: 1px;
			margin-left: 5px;
			height: 100%;
			border-right: 1px solid rgba(0, 0, 0, 0.1);
		}
		margin-right: 20px;
		>div {
			color: rgb(91, 161, 172);
		}
	}
}

.shiftSettingBlock {
	@extend %whiteBoard;
	.editLabel {
		&:hover {
			cursor: pointer;
			opacity: 0.6;
			scale: 1.1;
		}
	}
}
.banchManagerBlock {
	@extend %whiteBoard;
}

.forgetPwd {
	color: white;
	margin-top: 20px;
	&:hover {
		cursor: pointer;
		opacity: 0.6;
	}
}